.box{
    display: flex;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
.body{
    /*background-image: url('https://www.imagensanimadas.com/data/media/1018/pedreiro-imagem-animada-0016.gif');*/
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
    color: white;
    background-image: url('https://thumbs.dreamstime.com/b/fundo-verde-azul-abstrato-vetorial-e-gradiente-amarelo-com-curvas-indefinidas-para-o-painel-traseiro-do-papel-de-parede-da-web-195169078.jpg');
    height: 100%;
}
.um{
    flex: 1 1 auto;
}
.dois{
    flex: 1 1 auto; 
}
.tres{
    flex: 1 1 auto;
}
.quatro{
    flex: 1 1 auto;
}
.cinco{
    flex: 1 1 auto;
}
.seis{
    flex: 1 1 auto;
}
.sete{
    flex: 1 1 auto;
}
.oito{
    flex: 1 1 auto;
}
.nove{
    flex: 1 1 auto;
    
}
.image{
    padding-top: 40px;
    border:1px ridge grey;
    border-radius: 5px;
    text-align: center;
    width: 450px;
    height: 270px;
    background-image: url('https://media.istockphoto.com/id/1063685130/pt/foto/gradient-with-paris-daisy-yellow-screaming-green-bright-turquoise-blue-color-modern-texture.jpg?s=170667a&w=0&k=20&c=QnqH196QhXkzhPAl3d5oNL4xePvM39CPH9jYmcfuHGE=');
    margin-bottom: 5px;
    margin-right: 30px;
    opacity: 90%;
    text-decoration: solid whited;
    
    
}

a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
.titulo{
    color: orange;
    font-size: 80px;
    font-family: sans-serif;
    text-align: center;
}
.preco{
    font-size: 25px;
    margin-top: 0px
}
.produto{
    margin-bottom: 0;
}
.botoes{
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 8px;
    background-color: transparent;
    color: ghostwhite;
    border: 2px solid yellow;
    margin-right: 25px;
}